/node_modules
/build/
/server/database/data
server/database/nocommit.ts
server/database/email/nocommit.js
server/email/mail-service.js
server/node_modules
server/email/mail-service.js
src/examples/platformer/scripts/.DS_Store
