.room-section {
  background: deepskyblue;
  min-height: 400px;
}

.broadcaster {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.coordinator {
  position: absolute;
  height: 100%;
  width: 35%;
  left: 0;
}

.video-container {
  display: block;
  position: absolute;
  top: 50px;
  left: 0;
  margin: 0 auto;
  width: 35%;
  height: auto;
}

.media-elements {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  align-content: space-between;
}

.v {
  position: absolute;
  background-color: green;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.urlBox {
  text-align: center;
  display: none;
  background: #F1EDED;
  margin: 15px -10px;
  border: 1px solid rgb(189, 189, 189);
  border-left: 0;
  border-right: 0;
}

.make-fill {
  width: 100%;
  height:100%;
}

.blue-button {
  color: #ffffff;
  font-size: 120%;
  font-family: Impact, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: .75rem;
  display: block;
  width: 100%;
  background-color: rgba(19, 102, 180, 0.945);
  border: none;
  cursor: pointer;
}

.blue-button:hover {
 background-color: rgba(237, 17, 17, 1);
}

.blue-label {
  color: #ffffff;
  font-size: 100%;
  font-family: Impact, sans-serif;
  text-transform: none;
  letter-spacing: 1px;
  padding: .75rem;
  border-radius: 0.2rem;
  display: block;
  width: 100%;
  background-color: rgba(19, 102, 180, 0.945);
  border: 1px solid;
}

.blue-label:hover {
  background-color: rgba(19, 102, 170, 0.9);
}

.title {
  color: #ffffff;
  font-size: 100%;
  font-family: Impact, sans-serif;
  text-transform: none;
  letter-spacing: 1px;
  padding: .75rem;
  border-radius: 0.2rem;
  display: block;
  width: 100%;
  background-color: rgba(19, 102, 180, 0.945);
  border: none;
  cursor: default;
}

.broadcastLabel {
  color: rgb(255, 255, 255);
  font-size: 1.15rem;
  width: 50%;
  padding: .5rem 1rem;
  border: 2px solid transparent;
  outline: none;
  border-radius: 0.2rem;
  background-color: rgba(19, 102, 180, 0.945);
  letter-spacing: 1px;
  border: 1px white solid;
}

.broadcastLabel:disabled {
  background-color: #444444;
}

.broadcastLabel:hover {
  background-color: rgba(19, 102, 170, 0.9);
  color: rgba(0, 0, 0, 0.9);
}

.broadcastLabel:hover:disabled {
  background-color: rgba(19, 102, 170, 0.9);
  color: rgba(233, 21, 21, 0.9);
}

.red-link {
  display: block;
  text-align: center;
  color:white;
  background-color: rgba(237, 17, 17, 0.75);
  font-size: 16px;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

.popup-right-box {
  position: absolute;
  margin: 0;
  left : 80%;
  top: 0;
  width: 23vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  box-shadow: 0 -20px 150px -20px rgba(8, 81, 163, 0.5);
  z-index: 200;
}

.chat-input {
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  z-index: 100;
}

.share-btn {
  position:absolute;
  bottom:8%;
  left:0;
  width:50%;
  z-index: 100;
  background: url("../imgs/share-files.png");
  background-repeat: no-repeat;
}

.leave-btn {
  position:absolute;
  bottom:8%;
  left:50%;
  width:50%;
  z-index: 100;
}
