html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font: 14px/20px Impact, Helvetica, Arial, sans-serif;
  color: lime;
  margin: 0;
  padding: 0;
  border:none;
  background-color:black;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  font-family: Impact, Arial;
}

.hide {
  display:none;
}

canvas {
    margin:0 auto;
    font-family: Impact, Helvetica, Arial, sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #14151f;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vmin;
    border-radius: 8px;
    border: solid peru 10px;
    max-width: 100%;
    max-height: 100%;
}

/* Scroll bars */
/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: silver;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: green;
}

#msgbox {
  position: absolute;
  top:15%;
  left:30%;
  width: 40%;
  height: 50%;
  text-align: center;
  margin: 0 0 0 0 auto;
  vertical-align: middle;
}

.log-network {
  position: absolute;
  z-index: 150;
  right: 0%;
  width: 20%;
  height: 100%;
  -webkit-animation-name: autohide; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: autohide;
  animation-duration: 2s;
}

.network-panel-hide-animation {
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: rightmove;
  -webkit-animation-duration: 1.2s;
  animation-fill-mode: forwards;
  animation-name: rightmove;
  animation-duration: 1.2s;
}

.network-panel-show-animation {
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: leftmove;
  -webkit-animation-duration: 1.2s;
  animation-fill-mode: forwards;
  animation-name: leftmove;
  animation-duration: 1.2s;
}

.network-panel-hide-ver-animation {
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: goBottom;
  -webkit-animation-duration: 1.2s;
  animation-fill-mode: forwards;
  animation-name: goBottom;
  animation-duration: 1.2s;
}

.network-panel-show-ver-animation {
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: goUp;
  -webkit-animation-duration: 1.2s;
  animation-fill-mode: forwards;
  animation-name: goUp;
  animation-duration: 1.2s;
}

.message-box {
  position: absolute;
  background: black;
  padding: 20px;
  opacity: 1;
  z-index: 1500000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-animation-name: autohide; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: autohide;
  animation-duration: 2s;
  font-size: normal;
}

.message-box-content {
  text-align: center;
  font-size: 140%;
}

.message-box-hide-animation {
  -webkit-animation-name: scaleToCenter;
  -webkit-animation-duration: 1.2s;
  animation-name: scaleToCenter;
  animation-duration: 1.2s;
}

.message-box-show-animation {
  -webkit-animation-name: scaleFromCenter;
  -webkit-animation-duration: 1.2s;
  animation-name: scaleFromCenter;
  animation-duration: 1.2s;
}

.message-box-btn {
  text-align: center;
  position: absolute;
  color: #ffffff;
  bottom: 10px;
  font-family: Impact, sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding: .75rem;
  display: flow-root;
  width: 100%;
  background-color: rgba(237, 17, 17, 0.75);
  border: none;
  cursor: pointer;
  font-size: 130%;
}

.logger {
  position: absolute;
  left: 0;
  top: 5%;
  height: 200px;
  overflow: auto;
}

.log-chat {
  position: absolute;
  top: 6%;
  height: 89% !important;
  width: 100%;
  overflow: auto;
  opacity: 0.7;
  background: rgba(2,2,222,0.2);
}

.log-sender {
  position:absolute;
  bottom:10%;
  left:0;
  width:64%;
  z-index: 100;
}

.textMessageNode {
  word-break: break-all;
}

.new-message {
  width: 100%;
  float: left;
}

.user-info {
  width: auto;
  float: left;
}

.user-info img {
  padding-top: 1px;
  width: 55px;
  height: 55px;
}

.whoIsTyping {
  position: absolute;
  left: 45%;
  top: 1%;
  height: 50px;
  overflow: auto;
}

.webCamView {
  position: absolute;
  background: transparent;
  width: 33%;
  z-index: 20;
  bottom: 0;
}

.controls {
  margin: auto;
  position: absolute;
  padding-left: 28px;
  right: 0;
  background: transparent;
  width: 111px;
}

.controls span {
  padding-top: 20px
}

.icon {
  width: 45px;
  height: 45px;
  vertical-align:bottom !important;
}

.chatIcon {
  width: 35px;
  height: 35px;
}

#user-profile-btn-ok {
  position: absolute;
  width: 10%;
  min-width: 200px;
  bottom: 0;
  left: 40%;
  z-index: 1000;
  text-align: center;
}

.myButton {
	background-color:#d41111;
	border:1px solid #9412219b;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: Impact, Arial;
	font-size:17px;
	padding:5px 33px;
  text-decoration:none;
  outline: none;
}
.myButton:hover {
  background-color:#ffffff;
  color:#d41111;
}

.myButtonChat {
	background-color:transparent;
	border:1px solid #9412219b;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: Impact, Arial;
	font-size:17px;
	padding:5px 33px;
  text-decoration:none;
  outline: none;
}

.myButtonChat:hover {
  background-color:rgba(123,12,33,0.3);
  color:#d41111;
}

.myError {
  display: none;
	-moz-box-shadow: 0px 0px 11px 3px darkred;
	-webkit-box-shadow: 0px 0px 11px 3px darkred;
	box-shadow: 0px 0px 11px 3px darkred;
	background-color:darkred;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid red;
	cursor:pointer;
	color:lightcoral;
	font-family: Impact, Arial;
	font-size:17px;
	padding:5px 33px;
	text-decoration:none;
  text-shadow:0px 1px 8px #14151f;
  width: 100%;
}
.myError:hover {
  background-color:lightcoral;
  color:white;
}

#allow-webcam {
  background-image: url("../icon/permission/webcam.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;

}

#allow-mic {
  background-image: url("../icon/permission/microphone.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
}

#allow-screen {
  background-image: url("../icon/permission/screen.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
}

#share-files {
  background-image: url("../icon/permission/share-files.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
}

/**
  DOM Components CSS
  - register form
  - login form
*/

.make-center {
  height: 100%;
  margin: 0 auto;
}

.popup {
  position: absolute;
  margin: 0;
  left : 0;
  top: 0;
  width: 99.5vw;
  height: 100%;
  background-color: rgba(32,112,132,0.5);
  box-shadow: 0 -20px 150px -20px rgba(0, 0, 0, 0.5);
  z-index: 200;
}

 .container {
  display: block;
  position: relative;
  z-index: 0;
  margin: 1rem auto 0;
  padding: 1rem 1rem 1rem 1rem;
  width: 100%;
  max-width: 700px;
  height: auto;
  box-shadow: 0px 20px 20px -20px rgba(0, 0, 0, 0.8);
  border-radius: 20px;
}

button:focus {outline:0;}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}

.leftPanelUni {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  margin: auto 0;
  padding: 0;
  width: 20%;
  height: 100%;
  box-shadow: 0px 20px 70px -20px rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  font-size: 80%;
}

.container:after {
  content: '';
  display: inline-block;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: radial-gradient(ellipse at left bottom, rgba(134, 9, 9, 1) 0%, rgba(150, 15, 15, 0.9) 60%, rgba(159, 14, 14, 0.9) 100%);
  box-shadow: 0 -20px 150px -20px rgba(0, 0, 0, 0.5);
}

.form-app {
  position: relative;
  z-index: 1;
  padding: 5% 1% 4% 1%;
  border-bottom: 1px solid rgba(255,255,255, 0.25);
  font-size: x-large;
}

.form-selectplayer {
  position: relative;
  text-align: center;
  z-index: 1;
  padding: 1% 1% 4% 1%;
  border-bottom: 1px solid rgba(255,255,255, 0.25);
  font-size: x-large;
}

.nav {
    position: relative;
    padding: 0;
    margin: 0 0 2em 1rem;
}

.nav-item {
  list-style: none;
  display: inline-block;
}

.nav-item + .nav-item{
  margin-left: 2.25rem;
}

.nav-item a {
  position: relative;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.25rem;
  padding-bottom: .5rem;
  transition: .20s all ease;
}

.nav-item.active a, .nav-item a:hover{
  color: #FFFFFF;
  transition: .15s all ease;
}

.nav-item a:after{
  content: '';
  display: inline-block;
  height: 10px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  right: 100%;
  bottom: -1px;
  left: 0;
  border-radius: 50%;
  transition: .15s all ease;
}

.nav-item a:hover:after, .nav-item.active a:after{
  background-color: rgb(208, 183, 181);
  height: 2px;
  right: 0;
  bottom: 2px;
  border-radius: 0;
  transition: .20s all ease;
}

.form-label, .form-checkbox-label{
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-size: .75rem;
  margin-bottom: 1rem;
}

.form-checkbox-label{
  display: inline-block;
  position: relative;
  padding-left: 1.5rem;
  margin-top: 2rem;
  margin-left: 1rem;
  color: #FFFFFF;
  font-size: .75rem;
  text-transform: inherit;
}

.form-input-text{
  color: white;
  font-size: 1.15rem;
  width: 100%;
  padding: .5rem 1rem;
  border: 2px solid transparent;
  outline: none;
  border-radius: 0.2rem;
  background-color: rgb(169, 11, 13);
  letter-spacing: 1px;
}

.form-input-text:hover,
.form-input-text:focus{
	color: white;
	border: 2px solid rgba(255, 255, 255, 0.5);
	background-color: transparent;
}

.form-input-text + .form-label {
	margin-top: 1.5rem;
}

.form-input-checkbox {
	position: absolute;
	top: .1rem;
	left: 0;
	margin: 0;
}

.login-button {
	color: #ffffff;
	font-size: 18px;
	font-family: Impact, sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 1rem;
	padding: .75rem;
	display: block;
	width: 100%;
	background-color: rgba(237, 17, 17, 0.75);
	border: none;
	cursor: pointer;
}

.login-button:hover {
	background-color: rgba(237, 17, 17, 1);
}

.link {
	display: block;
	text-align: center;
  color:white;
  background-color: rgba(237, 17, 17, 0.75);
	font-size: 16px;
	text-decoration: none;
	position: relative;
	z-index: 1;
}

.link:disabled {
  background: #462d2d;
}

.link:hover {
	background-color: rgba(237, 17, 17, 1);
}

.link:hover:disabled {
  background: #4b2323;
}

.selectPlayerItemBox {
  margin-top: 5%;
}
